
.board__header {
    text-align: center;
    letter-spacing: 0.5px;
}

.columnItem__box{
    width: 300px;
    margin: 3px;
    padding: 2px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.columns__container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.columnItem__header {
    font-size: 18px;
    font-weight: 600;
    padding:7px 0px
}