.board__container {
    width: 100%;
    height: 100%;
}

.board__leftSide {
    float: left;
    width: 25%;
    height: 100%;
    background: rgb(145, 199, 218);
}

.board__rightSide {
    float: left;
    width: 75%;
    height: 100%;
    background: rgb(228, 221, 222);
}

.board__header {
    text-align: center;
    letter-spacing: 0.5px;
    border-bottom: 1px solid grey;
}

.columns__section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.columnItem__container{
    width: 300px;
    min-height: 650px;
    margin: 20px 5px;
    padding: 2px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.columnItem__header {
    font-size: 18px;
    font-weight: 600;
    padding:7px 0px
}

.task__container{
    margin: 5px 10px;
    border: 1px solid grey;
    padding-bottom:10px
}

.form__section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:20px 5px;
}

.input__box,.button__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:5px 2px;
    padding: 2px 5px;
    min-width: 230px;
}

.input__task ,.input__person {
    border:none;
    border-bottom: 1px solid grey;
}

.form__confirm {
    width:100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color:rgb(148, 84, 24);
    background-color: antiquewhite;
    padding:5px 0px;

}

.button__submit{
    border: none;
    width: 100%;
    min-height: 30px;
    text-transform: uppercase;
    margin:3px 0;
}

.button__submit:hover{
    background-color: rgb(21, 124, 30);
    color: white;
}

.task__move{
    height: 30px;
    width: 100px;
    margin:4px;
    border: none;
    padding:5px
}

.task__remove{
    height: 30px;
    width: 208px;
    border: none;
}

.task__content{
    font-weight: 600;
}

.task__move:hover {
    background-color: black;
    color: white;
}

.task__remove:hover{
    background-color: rgb(165, 44, 44);
    color: white;
}