.board__container {
    margin-top: 30px;
}

.board__leftSide {
    float: left;
    width: 25%;
    height: 100%;
    min-height: 260px;
    padding:3px;
    background-color: rgba(235, 247, 254, 0.77);
    border-left: 5px solid rgb(34, 105, 146) ;
    border-radius: 20px;
}

.board__rightSide {
    float: left;
    width: 75%;
    height: 100%;
    min-height: 260px;
    padding:3px;
}

.board__title {
    padding: 6px 0px;
}

.board__header {
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.8px;
}